* {
    box-sizing: border-box;
}


html,
body {
    margin: 0px;
    scroll-behavior: smooth;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size:cover;
    z-index: 10;
}

.menu {
    list-style: none;
    padding: 0px;
    font-size: 25pt;
    text-decoration-color: aliceblue;
    grid-template-columns: repeat(4, 1fr);
    
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 60px;
    grid-gap: 5px;
    letter-spacing: 6px;
}

.menu > li {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 700;
    font-style: bold;
    text-decoration-color: rgb(71,100,125);
    text-align: center;

}

.menu a {
    padding: 40px;
    text-decoration: none;

}

.links {
    font-size: 20px;
    color: #B0C4DE;
    
}

a {
    color: rgb(71,100,125);
    text-decoration: none;
    font-size: 20pt;
    
}

a:visited {
    color: rgb(71,100,125);
}

a:hover {
    color: slategray;
    font-size: 20pt;
}

.logo {
    margin-top: 6px;
    margin-bottom: 0px;
    width: 120%;
    padding-left: 40px;
    padding-right: 10px;

}

.section b {
    padding: 5px;
    text-decoration: none;
}

.section {
    width: 100vw;
    min-height: 100vh;
    max-width: 100%;
    padding: 60px;
}

.bio {
    margin-top: 90px;
    text-align: justify;
    color: rgb(71,100,125);
    margin-bottom: 7px;
}

.centre {
    text-align: center;
}

#HOME {
    background-color: rgb(71,100,125);
    align-content: center;
}

#ABOUT {
    background-color: #B0C4DE;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 20px;
    align-content: center;
}

#WORKS {
    background-color: rgb(71,100,125);
}

#CONTACTS {
    background-color: #B0C4DE;
}


.right {
    text-align: right;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 72pt;
    margin: 70px;
    margin-top: 400px;
    position: relative;
    color: aliceblue;
    text-align: center;
    letter-spacing: 15px;
    word-spacing: 30px;
    max-width: 100%;
}

#HOME .text {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
}

#ABOUT .text {
    grid-column: 1;
    grid-row: 3;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    grid-column: span 1 / 3;
}

#CONTACTS .text {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: -1;
    grid-column-end: span 2;
    margin: 20px;
}

li {
    grid-area: footer;
    margin-bottom: 0px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 30pt;
    color: aliceblue;
    margin: 20px;
    margin-top: 70px;
    letter-spacing: 10px;
    word-spacing: 5px;

}

ul {
    font-family: 'Poppins', sans-serif;
    font-size: 20pt;
    font-style: light;
    color: white;
    margin: 30px;
    letter-spacing: 3px;
    word-spacing: 5px;
}

ol {
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15pt;
    color: rgb(71,100,125);
    margin: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    letter-spacing: 3px;
    word-spacing: 5px;
}

.left {
    text-align: left;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 15pt;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 350px;
    margin-right: 350px;
    color: rgb(71,100,125);
    grid-column: -4 / span 3;
    grid-row: 2;
    line-height: 3;
    justify-items: stretch;
    hyphens: manual;
    max-width: 100%;
    max-height: 100%;
}

.img {
    max-width: 100%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    border-color: #B0C4DE;
    color: #B0C4DE;
}

.wrap {
    max-width: 10000px;
    margin: 0 auto;
}

.lg-sub-html,
#lg-counter {
    color: floralwhite;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.transform {
    transition: all 1s ease-out;
    cursor: pointer;
}

.transform:hover {
    transform: scale(1.1);
    color: #B0C4DE;
}

.end {
    text-align: center;
    
}

.line {
    text-align: center;
    word-spacing: 110px;
    margin-top: 330px;
    margin-bottom: 0px;
}

.another {
    color: rgb(71,100,125);
}
